<form action="/job/{{job['id']}}/apply" method="post">
    <div class="mb-2">
      <label>Full Name</label><br>
      <input type="text" name="name" placeholder='Virat Kohli'>
    </div>
    <div class="mb-2">
        <label>AGE:(in years)</label><br>
        <input type="text" name="age" placeholder='34'>
    </div>
    <div class="mb-2">
      <label>Email Address</label><br>
      <input type="email" name="email" placeholder="virat.kohli@gmail.com">
    </div>
    <div class="mb-2">
      <label>Linkedin URL</label><br>
      <input type="url" name="linkedin_url" placeholder="www.linkedin/viratkohli.in">
    </div>
    <div class="mb-2">
      <label>Github URL</label><br>
      <input type="url" name="github_url" placeholder="www.github.com/viratkohli.in">
    </div>
    <input type="submit" name="submit">
</form>